@import url(./style.css);

.calculator
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    padding-left: .5rem;
    font-weight: 500;
}

legend,
label
{
    font-weight: 700;
}
/* bill */

.bill-wrap, .tip-container, .people-wrap
{
    width: 100%;
    padding-right: 2rem;
}

.input-wrap
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.input-wrap img
{
    position: absolute;
    left: .5rem;
    height: 35%;
}

input
{
    text-align: right;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    border: 1px solid hsl(189, 41%, 97%);
    border-radius: 5px;
    padding: .3rem .5rem;
}

input:focus
{
    border: 1px solid hsl(172, 67%, 45%);
    outline: none;
}
/* tip selector */
.tip-container
{
    margin: 20px 0;
    border: none;
}

.tip-wrap
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}

.tip
{
    font-weight: 700;
    color: hsl(189, 41%, 97%);
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.tip:focus
{
    outline: none;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.tip-label {
    display: none;
}

.custom-input
{
    text-align: center;
    font-weight: 700;
}

.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button,
#bill-amount::-webkit-outer-spin-button,
#bill-amount::-webkit-inner-spin-button,
#num-people::-webkit-outer-spin-button,
#num-people::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input:focus {
    text-align: center;
}
/* people input */
.description-wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#error-message
{
    color: rgb(255, 0, 0);
    display: none;
}
#num-people.active{
    border: 1px solid rgb(255, 0, 0);
}
#error-message.active{
    display: block;
}

/* hover effects */

.tip:hover, .tip-label:hover
{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.input-wrap:hover, 
input:hover, 
.tip:hover, 
#reset:hover,
.tip-label
{
    cursor: pointer;
}

.description:hover
{
    cursor: default;
}
