
@media screen and (max-width: 655px) {
    .main {
        justify-content: space-between;
        height: auto;
    }

    .container {
        width: min(100%, 375px);
    }

    form {
        flex-direction: column;
    }

    .calculator {
        width: 100%;
    }

    .bill-wrap, .tip-container, .people-wrap
    {
        padding-right: 0;
    }

    .tip-wrap
    {
        display: grid;
        grid-template-areas: 
            "a a"
            "b b";
            grid-template-columns: 48% 48%;
    }

    #reset {
        margin-top: 2rem;
    }

    .results {
        width: 100%;
        margin-top: 2rem;
    }

    .attribution {
        position: relative;
    }
}