@import url(./style.css);

.results
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    width: 50%;
    padding: 2rem;
    border-radius: 10px;
}

.total
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total:first-child{
    margin-bottom: 1rem;
}

span{
    color: hsl(189, 41%, 97%);
}

.description p
{
    color: hsl(186, 39%, 79%);
    font-size: .9em;
}

.amount
{
    text-align: right;
}

.tip-amount, .tot-amount
{
    background: none;
    font-weight: 700;
    font-size: clamp(2rem, 6vw, 2.4rem);
    color: hsl(172, 67%, 45%);
    cursor: default;
}

#reset
{
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: .9em;
    padding: .5rem;
    background-color:  hsl(183, 100%, 20%);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: hsl(186, 14%, 43%);
}

/* hover effect */

#reset:hover
{
    background-color: hsl(186, 39%, 79%);
    color: hsl(183, 100%, 15%);
}
