@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(186, 39%, 79%);
    color: hsl(186, 14%, 43%);
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: clamp(12px, 3vw, 16px);
}

.logo
{
    width: fit-content;
    padding-block: 3rem;
    margin: auto;
}

.container
{
    margin: auto;
    padding: 40px;
    max-width: 650px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

form {
    display: flex;
    justify-content: space-around;
}

.attribution 
{ 
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}